<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete rental contract</title>
    <link rel="stylesheet" type="text/css" href="/updateCustomer.css">

</head>
<body>
<h1>Delete rental contract</h1>
<h2 th:if="${message}" th:text="${message}"></h2>
<form action="/mainMenuDataRegistration">
    <input type="hidden" name="employeeUserId" th:value="${employeeUserId}">
    <button type="submit">Go back to main menu</button>
</form>
<table>
    <thead>
    <tr>
        <th>Rental contract ID</th>
        <th>Customer name</th>
        <th>Car brand</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Price</th>
        <th>Pick up location</th>
        <th>Condition on delivery</th>
        <th>Condition upon return</th>
        <th>Is rental contract ended?</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rentalContractDetails : ${rentalContracts}">
        <form action="/deleteRentalContractConfirm" method="get">
            <td th:text="${rentalContractDetails.rentalContractId}"></td>
            <td th:text="${rentalContractDetails.customerName}"></td>
            <td th:text="${rentalContractDetails.carBrand}"></td>
            <td th:text="${rentalContractDetails.startDate}"></td>
            <td th:text="${rentalContractDetails.endDate}"></td>
            <td th:text="${rentalContractDetails.price}"></td>
            <td th:text="${rentalContractDetails.locationId}"></td>
            <td th:text="${rentalContractDetails.conditionOnDelivery}"></td>
            <td th:text="${rentalContractDetails.conditionUponReturn}"></td>
            <td th:text="${rentalContractDetails.isRentalContractEnded}"></td>
            <td>
                <input type="hidden"  name="rentalContractId" th:value="${rentalContractDetails.rentalContractId}">
                <input type="hidden"  name="employeeUserId" th:value="${employeeUserId}">
                <button type="submit">Delete rental contract</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>
